.profile-details-container {
  text-align: left;
}

.profile-details-table {
  width: 27vw;
  height: fit-content;
  margin: 1vh auto;
}

.profile-details-table-row {
  height: 8vh;
}

.profile-details-table-row td {
  vertical-align: middle;
  padding: 0 0.5vw;
}

.profile-details-table-row h5 {
  margin: 0;
}

/* email */

.edit-email-box {
  display: flex;
  width: 15vw;
}

.email-box {
  width: 15vw;
}

.email-change-field {
  width: 9vw;
}

.edit-email-buttons {
  margin-left: 0.3vw;
}

#confirm-edit-button {
  color:white;
  background: green;
}

#cancel-edit-button {
  margin-left: 0.3vw;
  background: rgb(182, 5, 5)
}

#edit-email-button {
  height: fit-content;
  margin-left: 0.3vw;
}

/* location */

.location-box {
  width: 15vw;
}

.user-location-box {
  display: flex;
  margin-bottom: 1vh;
}

.upon-update-text {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1vh 1vw;
  margin: 0 auto;
  font-style: italic;
  width: 20vw;
}

.profile-details-buttons {
  width: 5vw;
}

.profile-details-buttons:focus {
  background: white;
  color: black;
}

.profile-details-buttons:focus:hover {
  background-color: #6c757d;
  color: white;
}
