.profile-details-container {
  text-align: left;
}

.edit-email-box {
  display: flex;
}

.user-email-box {
  display: flex;
}

.edit-email-buttons {
  margin-left: 0.3vw;
}

#confirm-edit-button {
  background: green;
}

#cancel-edit-button {
  margin-left: 0.3vw;
  background: rgb(182, 5, 5)
}

#edit-email-button {
  margin-left: 0.3vw;
}

.user-location-box {
  display: flex;
  margin-bottom: 1vh;
}

.user-location-text {
  margin: auto 0;
}

#upon-update-text {
  border: 1px solid black;
  padding: 1vh 1vw;
  font-style: italic;
}

.profile-details-buttons {
  margin-left: 1vw;
}