.team-logos-names {
  text-align: left;
}

.standings-feed {
  max-width: 23vw;
  margin: 1vh auto;
  border: black solid 1px;
  border-radius: 1vh;
}

.standings-feed-button-box {
  display: flex;
  justify-content: space-between;
}

.standings-button {
  padding: 0px !important;
  border: none;
  margin: 1vh !important;
  width: 5vw;
}
