.create-post-box {
  display: grid;
  justify-content: center;
  border: black solid 0.1vh;
  border-radius: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.post-text-area {
  width: 45vw;
  margin-bottom: 1vh;
}

.image-preview {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}

.post-header-bar {
  display:flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.user-details {
  display: flex;
}

#username {
  font-weight: bold;
}

#post-button {
  width: 8vw;
}

.button-group {
  display: flex;
}
