.create-post-box {
  display: grid;
  border-radius: 1vh;
  padding: 1vh 1vw;
  margin: 0 auto;
  margin-top: 4vh;
  margin-bottom: 3vh;
  width: 40vw;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(182, 5, 5);
}

.post-header-bar {
  display:flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  max-height: 5vh;
}

.author-username {
  color: white;
  font-weight: bold;
}

.button-group {
  display: flex;
  margin: auto 0;
  border: 1px solid rgb(182, 5, 5);
}

.user-details {
  display: flex;
}

.post-text-area {
  width: 33vw;
  margin-bottom: 1vh;
}

.post-form {
  justify-self: center;
}

input#private-post-button + label  {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.image-preview-container {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}

#image-preview {
  width: 30vw;
  height: 40vh;
}

.post-button {
  width: 8vw;
}

.remove-prievew-button {
  margin-top: 1vh;
}
