.video-embed-popover-content {
  display: flex;
}

#embed-popover-button {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

#confirm-embed-button {
  margin-left: 0.2vw;
}

#confirm-embed-button-disabled {
  margin-left: 0.2vw;
  background-color: black;
  color: white;
  opacity: 0.60;
  pointer-events: none;
}

#cancel-embed-button {
  margin-left: 0.2vw;
}