.admin-manage-posts {
  display: grid;
  border-radius: 1vh;
  padding: auto 1vw;
  margin: 1vh auto;
  width: 40vw;
}

.admin-buttons-box {
  width: fit-content;
  height: fit-content;
  background-color: white;
  margin: 1vh auto;
  border-radius: 5px;
  padding: 2px;
}
