  .friend-teammate-container-box {
    display: grid;
    border: black solid 0.1vh;
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh auto;
    max-width: 35vw;
  }

  .friend-teammate-container {
    text-align: left;
    display:flex;
    justify-content: space-between;
  }

  .friend-teammate-avatar-and-info {
    display: flex;
    margin-right: 10vw;
  }

  .friend-teammate-info {
    margin: unset;
  }

  .friend-last-updated {
    color: gray;
  }
