.home-public-container {
  display: flex;
}

.home-public-left {
  display: grid;
  justify-content: center;
  width: 67vw;
  min-height: 85vh;
}

.home-public-right {
  border-left: 3px solid rgb(182, 5, 5);
  width: 33vw;
  min-height: 85vh;
  padding: 1vh 1vw;
}