.comment-header-bar {
  display:flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.custom-file-upload {
  border-color: rgb(182, 5, 5);
}

.comment-form {
  display: grid;
  justify-items: center;
}

.comment-text-area {
  width: 30vw;
  margin-bottom: 1vh;
}

.create-comment-box {
  margin: 1vh 1vw 1vh 1vw;
}

#comment-button {
  width: 8vw;
}
