.comment-container {
  padding: 1vh 1vw;
  border: 2px solid white;
  border-radius: 1vh;
  margin-bottom: 1vh;
  width: 35vw;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.author-details {
  display: flex;
}

.comment-header-text {
  display: grid;
  margin-left: 0.5vw;
}

.author-username-single-comment {
  margin: auto 0;
}

.admin-buttons-box-comments {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}

.comment-content {
  display: grid;
  justify-content: center;
  margin: 0px auto;
  width: fit-content;
}

.comment-text {
  width: 30vw;
  justify-self: center;
}

.comment-image-box {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}

.comment-image {
  width: 30vw;
  height: 35vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
}

.comment-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1vh auto;
  width: 30vw;
  
}

.comment-like-btn {
  padding: 0 1vh;
  background-color: rgb(182, 5, 5);
  color: white;
  font-weight: bold;
}

.comment-likes-number {
  margin: 0;
}