.user-info {
    padding: 5vh 5vh;
}
.user-text {
    margin-bottom: 1vh
}
.bi-person-plus-fill {
    padding-right: 0.5vw;
}
.bi-person-dash-fill {
    padding-right: 0.5vw;

}
.bi-send-exclamation-fill {
    padding-right: 0.5vw;
}
