.user-profile-container {
  display: flex;
}

.user-profile-left {
  width: 67vw;
  min-height: 84vh;
}

.user-profile-right {
  border-left: 3px solid rgb(182, 5, 5);
  width: 33vw;
  min-height: 84vh;
}

