  .teammate-container-box {
    display: grid;
    border: black solid 0.1vh;
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh auto;
    max-width: 35vw;
  }

  .teammate-container {
    text-align: left;
    display:flex;
    justify-content: space-between;
  }

  .teammate-avatar-and-info {
    display: flex;
  }

  .teammate-info {
    color: white;
    margin: unset;
    margin-left: 0.5vw;
  }

  .last-updated {
    color: whitesmoke;
  }
  
