.teammate-container-box {
  display: grid;
  border: black solid 0.1vh;
  border-radius: 1vh;
  padding: 1vh 1vw;
  margin: 1vh auto;
  max-width: 35vw;
}

.teammate-container {
  text-align: left;
  display:flex;
  justify-content: space-between;
}

  .teammate-avatar-and-info {
    display: flex;
  }

.teammate-info {
  color: white;
  margin: unset;
  margin-left: 0.5vw;
}

.last-updated {
  color: whitesmoke;
}

.action-btns-group {
  display: flex;
}

.action-btn {
  display: inline-flex;
  height: 4vh;
  margin-left: 0.5vw;
}

.bi-slash-circle-fill {
  padding-right: 0.25vw;
}

.bi-x-circle-fill {
  padding-right: 0.25vw;
}


#add-friend-button {
  margin-left: 0.5vw;
}

#view-user-profile-button {
  background-color: white;
  margin-left: 0.5vw ;
}

#view-user-profile-button:hover {
  background-color: black;
  color: white;
}

.teammate-button-group {
  margin: auto 0
}

/* /home */

.teammate-container-box-home {
  display: grid;
  border: white solid 0.1vh;
  border-radius: 1vh;
  padding: 0.5vh 0.5vw;
  max-width: 35vw;
  margin-bottom: 1vh;
}

.teammate-container-home {
  text-align: left;
  display:flex;
  justify-content: space-between;
}

.teammate-avatar-and-info-home {
  display: flex;
}

.teammate-info-box-home {
  align-self: center;
  margin-bottom: 1vh;
}

.teammate-info-home {
  color: white;
  margin: unset;
  margin-left: 0.5vw;
}

.teammate-button-group-home {
  margin: auto 0
}
