.search-bar-box {
    margin: 3vh auto;
    max-width: 30vw;
}

.filter-buttons-box {
  display: inline-flex;
  margin-bottom: 1vh;
}

.filter-by-text {
  margin-right: 0.5vw;
}

.filter-btn {
    display: inline-block;
    margin-right: 0.5vw;
    border-radius: 0.5rem;
}





