.search-bar {
    padding-top: 10vh;
    padding-bottom: 2vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

.filter-btn {
    display: inline-block;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 0.5rem;
}
.filter-btn:hover {
    background-color: white;
    color: black;
}
