.post-container {
  border: black solid 0.1vh;
  border-radius: 1vh;
  text-align: left;
  margin: auto 1vw;
}

.author-details {
  display: flex;
  margin: 1vh auto auto 1vw;
}

.post-content {
  margin: auto 1.2vw;
}

.post-image {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}

.post-buttons {
  margin-left: 0.5vw;
}



