.post-container {
  border: black solid 0.1vh;
  border-radius: 1vh;
  text-align: left;
  margin-right: 1vw;
  margin-left: 1vw;
}
.user-avatar {
  display: inline-flex;
  margin-top: 1vh;
  margin-left: 1vw;
}

.post-username {
  margin-left: 0.1vw;
  font-weight: bold;
}

.post-buttons {
  margin-bottom: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.post-content {
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}

.post-image {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}