.post-container {
  width: 40vw;
  border-radius: 1vh;
  text-align: left;
  padding: 1vh 1vw;
  margin: 0px auto;
}

.single-post-header-bar {
  display: flex;
  margin-bottom: 1vh;
}

.single-post-headar-bar-text {
  display: grid;
  margin-left: 0.5vw;
}

.author-username-single-post {
  margin: auto 0;
}

.post-content {
  display: grid;
  justify-content: center;
  margin: 0px auto;
  width: 35vw;
}

.post-text {
  width: 35vw;
  justify-self: center;
}

.post-image-box {
  display: grid;
  justify-items: center;
  margin-bottom: 1vh;
}

.post-image {
  width: 35vw;
  height: 40vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1vh auto;
  width: 35vw;
  background-color: black;
  border-radius: 7px;
}






