.my-profile-container {
  display: flex;
}

.my-profile-left {
  
  width: 67vw;
  min-height: 85vh;
}

.my-profile-right {
  border-left: 3px solid rgb(182, 5, 5);
  width: 33vw;
  min-height: 85vh;
  padding: 1vh 1vw;
}

.main-my-profile-container {

}

.my-profile-tabs-bar {
  margin: 1vh;
}

.my-profile-tab {
  
}

.my-profile-active-tab {

}