.my-profile-container {
  display: flex;
}

.my-profile-left {
  
  width: 67vw;
  min-height: 85vh;
}

.my-profile-right {
  border-left: 1px solid black;
  width: 33vw;
  min-height: 85vh;
}

.main-my-profile-container {

}

.my-profile-tabs-bar {
  margin-top: 1vh;
}

.my-profile-tab {
  
}

.my-profile-active-tab {

}