.popover {
  max-width: none;
  text-align: center;
}

.friend-requests-icon-box {
  height: fit-content;
}

.friend-requests-body {
    max-width: none;
    padding: 1vh 0.5vw;
}
.see-friend-requests-btn {
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
}
.see-friend-requests-btn:focus {
    background-color: transparent;
    border-color: transparent;
}
.see-friend-requests-btn:hover {
    background-color: transparent;
    border-color: transparent;
}
.bi-people-fill {
  color: white;
    font-size: 2vh
}
.close-teammates-btn {
    float: right
}
