.home-private-container {
  display: flex;
}

.home-private-left {
  border-right: 3px solid rgb(182, 5, 5);
  width: 25vw;
  min-height: 85vh;
}

.home-private-center {
  width: 50vw;
  min-height: 85vh;
  display: grid;
  justify-content: center;
}

.home-private-right {
  border-left: 3px solid rgb(182, 5, 5);
  width: 25vw;
  min-height: 85vh;
}

.single-post {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
