.header-box {
  display: flex;
  justify-content: space-between;
  min-height: 15vh;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid rgb(182, 5, 5);
  padding: 0 2vw;
}

.header-left-container {
  margin: 1vh 0;
  display: flex;
  align-items: center;
  width: 22vw;
}

.new-posts-msg-box {
  margin-left: 1vw;
}

.new-posts-msg-first-line {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.new-posts-msg-second-line {
  color: silver;
}

.app-logo-img {
  width: 8vw;
  height: 15vh;
}

.profile-box {
  margin: 1vh 0;
  display: flex;
  align-items: center;
  width: 12vw;
}

.notifications-box {
  display: flex;
  align-content: center;
  margin: 0 1vw;
}

.user-box {
  display: flex;
}

.username-and-notifications {
  text-align: right;
}

.username-box {
  height: fit-content;
  margin: 2vh 0;
}


.avatar-nav-link {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}

.avatar-username {
  color: white;
  font-weight: bold;
  margin: 0;
}

.avatar-and-logout {
  margin-left: 1vw;
}

.logo-nav-link {
  text-decoration: none;
  padding: 0;
}

.header-wallpapers-container {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  margin-right: 10vw;
}

.header-wallpaper {
  height: 16vh;
  width: 5vw;
}