.header-box {
  display: flex;
  justify-content: space-between;
  min-height: 15vh;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid rgb(182, 5, 5);
  border-top: 1px solid rgb(182, 5, 5);
}


.logo-box {
  margin-left: 1vw;
}

.profile-box {
  display: flex;
  margin-right: 1vw;
}

.avatar-nav-link {
  display: flex;
  text-decoration-color: rgb(182, 5, 5);
}

.avatar-username {
  color: white;
  margin-right: 0.5vw;
}

.nav-link {
  text-decoration: none;
}