.standings-table-tr {
  vertical-align: middle;
}

.standings-table-td {
  text-align: center;
}

.standings-table-td-team {
  text-align: left;
}

.team-logo-name {
  display: inline-flex;
  text-align: left;
}

.team-logo-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 0.8vw;
  margin-left: 0.2vw;
}

.team-logo {
  height: 5vh;
  width: 3vw;
  padding-top: 0.5vh;
}

.team-name {
  align-self: center;
}

.standings-table {
    max-width: 23vw;
    margin-bottom: 0px;
}

.single-table-row {
    height: 6vh;
}

.table-heading {
    width: 15vw;
}

.table-heading-sm {
    width: 3vw;
}

.table-heading-lg {
    width: 6vw;
}
