.change-password-form  {
  display: grid;
  justify-items: center;
}

.change-password-text-box {
  margin-bottom: 1vh;
  width: 15vw;
}

.new-password-text-box {
  margin-bottom: 1vh;
}

.helper-text-change-pass {
  color: white;
  font-weight: bold;
  font-style: italic;
  border: 1px solid white;
  /* margin-top: 1vh; */
  padding: 0.3vh 0.5vw;
}

.confirm-pass-change-btn:focus {
  background: white;
  color: black;
}

.confirm-pass-change-btn:focus:hover {
  background-color: #6c757d;
  color: white;
}


.confirm-pass-change-btn-disabled {
  background-color: white;
  color: black;
  opacity: 0.60;
  pointer-events: none;
  font-weight: bold;
}

