.login-form  {
  display: grid;
  justify-content: center;
}

.login-input-field {
  width: 15vw;
}

#password-field {
  margin-bottom: 1.5vh;
}

#error-msg {
  margin-bottom: 0vh;
  margin-top: 1vh;
  font-weight: bold;
  color: rgb(182, 5, 5);
}
