.register-form {
  display: grid;
  justify-content: center;
}

.register-input-field {
  margin-bottom: 1.5vh;
  width: 15vw;
}

.register-button-disabled {
  background-color: black;
  color:white;
  opacity: 0.60;
  pointer-events: none;
}