.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  padding: 1vh 1vw;
  margin: 0.2vh 0;
  border-radius: 5px;
  cursor: pointer
}

.notification-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification-text {
  font-weight: bold;
  font-style: italic;
  font-size: 11pt;
  width: 13vw;
  margin: 0 1vw;
}

.like-icon {
  font-size: 20pt;
  color: #0d6efd;
}

.laugh-icon {
  font-size: 20pt;
  color: #ffc107;
}

.heart-icon {
  font-size: 20pt;
  color: #dc3545;
}